/* Палитра и основные стили */
:root {
    line-height: 1.5;
    font-weight: 400;

    --bg: #232228;
    --bg-light: #77257e;
    --bg-dark: #1c1b21;

    --panel: #232228;
    --black: #3b434e;
    --text-gray: #a0a0a1;
    --gray: #48484c;
    --gray-light: #b6b6b6;
    --white: #fafafa;
    --primary: #6c38cc;
    --secondary: #cc46c9;
    --primary-hover: #844fe6;
    --yellow: #7e6b25;
    --green: #257e39;
    --blue: #001aff;
    --cyan: #15698d;
    --red: #ff0000;
}
/* Стилизация документа */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--gray);
    background: var(--gray-light);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

/* Компонент кадендарь */
.input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    height: 2rem;
    width: 180px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 600;
    line-height: 2rem;
    flex-shrink: 1;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}
.border {
    border: 2px solid black;
}
.number {
    font-weight: 600;
    margin: 5px;
}
.number:focus {
    background: #dee1ff;
    border: none;
    outline: none;
    text-decoration: none;
}
.icon {
    cursor: pointer;
}
.calendar {
    position: absolute;
    top: 2rem;
    left: 0;

    width: 350px;
    height: 300px;
    border: 1px solid var(--bg-dark);
    padding: 4px;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 1px 1px 4px var(--bg-dark);

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
        ' year-field year-field year-field year-field year-field year-field year-field hour-field hour-field min-field min-field'
        ' year-field year-field year-field year-field year-field year-field year-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field hour-field hour-field min-field min-field'
        'buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field hour-field hour-field min-field min-field';
}
.year-field {
    grid-area: year-field;
    background: rgb(47, 55, 161);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.hour-field {
    grid-area: hour-field;
    background: rgb(182, 167, 167);
}
.min-field {
    grid-area: min-field;
    background: rgb(137, 221, 131);
}
.date-field {
    grid-area: date-field;
    background: rgb(155, 68, 135);
}
.buttons-field {
    grid-area: buttons-field;
    background: red;
}
.hide {
    scale: 0;
}

.year {
    width: 60px;
    font-weight: 600;
    letter-spacing: 3px;
}
.arrows {
    font-size: 22px;
    display: flex;
    color: var(--primary);
    cursor: pointer;
}
