/* Палитра и основные стили */
:root {
    line-height: 1.5;
    font-weight: 400;

    --dark: #1c1b21;
    --gray-light: #919191;
    --bg: #ddd9d9;
    --white: #e9e9e9;
    --primary: #2245e3;
    --secondary: #cc46c9;
    --primary-hover: #844fe6;
    --blue: #001aff;
    --red: #ff0000;
}
/* Стилизация документа */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--dark);
    background: var(--bg);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

/* Компонент кадендарь */
/* Стилсзация кастомного инпута */
.input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    height: 2rem;
    min-width: 180px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 600;
    line-height: 2rem;
    flex-shrink: 1;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}
.border {
    border: 2px solid black;
}
.number {
    font-weight: 600;
    margin: 5px;
}
.number:focus {
    background: #dee1ff;
    border: none;
    outline: none;
    text-decoration: none;
}
.icon {
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
}
/* Стилизация календаря */
/*  Основная сетка */
.calendar {
    position: absolute;
    top: 2.1rem;
    left: 0;

    width: 350px;
    height: 300px;
    padding: 4px;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 1px 1px 4px var(--dark);
    transition: all 0.2s ease;
    transform-origin: top;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
        ' year-field year-field year-field year-field year-field year-field year-field hour-field hour-field min-field min-field'
        ' year-field year-field year-field year-field year-field year-field year-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'date-field date-field date-field date-field date-field date-field date-field hour-field hour-field min-field min-field'
        'buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field hour-field hour-field min-field min-field'
        'buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field buttons-field hour-field hour-field min-field min-field';
}
.year-field {
    grid-area: year-field;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.hour-field {
    grid-area: hour-field;
}
.min-field {
    grid-area: min-field;
}
.date-field {
    grid-area: date-field;
}
.buttons-field {
    grid-area: buttons-field;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hide {
    scale: 1 0;
}
/* Стилизация панельки года и месяцев */
.year,
.month {
    width: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
    outline: none;
    background: var(--bg);
    box-shadow: 1px 1px 2px var(--dark);
}
.month {
    width: 100px;
    font-weight: 400;
    letter-spacing: 0.3px;
    cursor: pointer;
}
.arrows {
    font-size: 22px;
    display: flex;
    cursor: pointer;
    color: var(--primary);
}
.up:hover,
.down:hover {
    color: var(--primary-hover);
}
/* Стилизация панельки с датой */
.date-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.cell {
    box-shadow: 1px 1px 2px var(--dark);
    padding: 1px 7px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell:hover {
    background: var(--primary-hover);
    color: var(--white);
    scale: 1.2s;
}
.noclick {
    box-shadow: 1px 1px 2px var(--dark);
    padding: 1px 7px;
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: not-allowed;
    color: var(--gray-light);
}
.choosed {
    color: var(--red);
    font-weight: 900;
}
/* Стилизация панельки времени */
.hour-field,
.min-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.min-field::-webkit-scrollbar,
.hour-field::-webkit-scrollbar {
    width: 0 !important;
}
.hour-slider,
.min-slider {
    position: absolute;
    transition: all ease 0.3s;
}
.item-hour,
.item-min {
    width: 50px;
    min-height: 40px;
    border-radius: 4px;
    margin: 3px;
    box-shadow: 1px 1px 2px var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.item-min:hover,
.item-hour:hover {
    background: var(--primary-hover);
    color: var(--white);
}
.current {
    background-color: var(--primary);
    color: var(--white);
}
/* Стилизация панельки с кнопками */
.buttons-field button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    background: var(--primary);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.6rem;
    line-height: 1em;
    height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px var(--dark);
}
.buttons-field button:hover {
    background: var(--primary-hover);
}
.buttons-field button:active {
    scale: 0.9;
    box-shadow: none;
}
/* Дополнительное */
.git {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.git:hover {
    fill: var(--red);
    scale: 1.3;
}
.copy {
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    right: -40px;
    top: 5px;
    z-index: 2;
}
.copy:hover {
    fill: var(--primary-hover);
}
.copy:active {
    scale: 0.7;
}

.copy::after {
    content: 'Копировать_данные';
    padding: 2px;
    position: absolute;
    background: var(--primary);
    color: var(--white);
    top: -30px;
    right: -120px;
    scale: 0 1;
    transition: all ease 0.3s;
}
.copy:hover::after {
    scale: 1;
}
